h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

// Color
.text-heading-color {
  color: @heading-color;
}
.text-primary-color {
  color: @primary-color;
}


.ant-descriptions-title {
  font-weight: normal;
}

.line-frame {
  border: 1px solid rgba(17, 20, 20, 0.9);
  border-radius: 8px;
  background-color: #fff;
}

.line-frame-thin {
  background: #fff;
  border: 1px solid rgba(17, 20, 20, 0.1);
  border-radius: 8px;
}

// onboard
aside.svelte-rntogh {
  z-index: 99;
}

// 
.point {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.point-primary {
  background-color: #50B3B3;
  border: 2px solid #E5F3F3;
}