@import './font.less';

.icon-token {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

// Size
.icon-sb-20::before {
  width: 20px;
  min-width: 20px;
  height: 20px;
}
.icon-s-32 {
  width: 32px;
  min-width: 32px;
  height: 32px;
}

// style
.icon-c-warning::before {
  color: #F9CA7D;
}

// Base
.icon-downOutlined::before {
  content: "\e90e";
}
.icon-language::before {
  content: "\e90f";
}
.icon-menu::before {
  content: "\e910";
}
.icon-select::before {
  content: "\e911";
}
