@import './font.less';

.icon-downOutlined:before {
  content: "\e90e";
}
.icon-language:before {
  content: "\e90f";
}
.icon-menu:before {
  content: "\e910";
}
.icon-select:before {
  content: "\e911";
}
